@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Parkinsans:wght@300..800&display=swap');
*{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
        font-family: "Parkinsans", sans-serif;
        scroll-behavior: smooth;
}
/* variable  */
:root{
        --color1: chocolate;   
   }
header{
        height: 50px;
        padding: 50px;
        /* we can also give align-content: space-around; */
        /* position: sticky;
        top: 0px; */
        /* border: 2px solid black; */
        display: flex;
        justify-content: center;
        flex-flow: column wrap;
        align-content: space-between;
        
        
        
}

.logo{
     /* text-align: center;  */
     font-size: 30px;
     margin: 50px;
     font-weight: bolder;
     color: chocolate;

}
.menu{
        font-size: 20px;
        padding: 20px;
        display: flex;
        gap: 15px;
        margin: 20px;
}
.m{
        text-decoration: none;
        color: gray;
}
.menu a:hover{
        color: var(--color1);
}

.container{
        margin-top: 20px;
        height: 70vh;
        width: 100%;
        /* border: 2px solid black; */
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 200px;
}
.pic{
        border: 2px solid white ;
        height: 50vh;
        border-radius: 40%;
        margin-bottom: 10px;
        
}
.side{
        /* border: 2 px solid black; */
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        justify-content: center;
}
.para2{
        font-size: 30px;
}
.btn{
        display: flex;
        gap: 15px;
        flex-direction: row;
        
        
}
.btn1{
        padding: 6px;
        border-radius: 10px;
        
        
}
.btnlink{
        text-decoration: none;
        font-weight: 550;
}
.btn button:hover{
        background-color: var(--color1);
        
}
.btn1 a:hover{
        color: white;
}



.icon{
        display: flex;
        /* border: 2px solid; */
        gap: 10px;
        justify-content: center;
}
.iconn{
        height: 50px;
        border-radius: 50%;
        
}
.icon2{
        height: 40px;
        padding-top: 6px;
}


 .box1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-top: 10px;
 }
 .aboutpara{
        font-size: 30px;
        font-weight: 600;
 }
 .box2{
        /* border: 2px solid black; */
        height: 30vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
 }
 .experience{
        border: 2px solid rgb(198, 194, 194);
        /* padding: 50px; */
        height: 20vh;
        width: 40vh;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 15px;
 }
 .education{
        border: 2px solid rgb(198, 194, 194);
        height: 20vh;
        width: 40vh;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 35px;
 }
 .expedu{
        font-size: 20px;
        font-weight: bold;
 }
 .box3{
        width: 100%;
        /* border: 2px solid ; */
        display: flex;
        justify-content: center;
        align-items: center;
 }
 .box3>p{
        /* border: 2px solid black; */
        width: 85%;
        padding: 20px;
        font-size: 20px;
 }
 .exp{
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
 }
 .exppara{
        font-size: 30px;
        font-weight: 600;  
 }

 .description{
        line-height: 1.8;
 }
 .section2{
        margin-top: 30px;
        width: 100%;
        height: 70vh;
        gap: 10px;
        display: flex;
        justify-content: center;
        /* border: 2px solid red; */
 }
 .sec2{
        border: 2px solid rgb(198, 194, 194);
        width: 25%;
        border-radius: 20px;
        box-sizing: border-box;
 }


 .frontend{
        /* border: 2px solid blue; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        
 }


 .devicon1>img{
        /* border: 2px solid red; */
        height: 70px;
        

        
        
 }
 .frontend>p{
        color: black;
        margin-bottom: 40px;
        font-size: 20px;
        font-weight: bold;


 }
 .devicon1{
        /* border: 2px solid red; */
        width: 90%;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        
        grid-auto-rows: 100px;
        justify-content: center;
        align-items: center;
        
        grid-gap: 10px;
       
        
       

 } 


.recentproject{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;

}
.projectpara{
        font-size: 30px;
        font-weight: 600; 

}
.section3{
        /* border: 2px solid palegreen; */
        margin-top: 30px;
        height: 90vh;
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 20px;
}
.pro{
        border: 2px solid rgb(198, 194, 194);
        width: 20%;
        
        /* margin-top: 30px; */
        border-radius: 30px;
        
        
}

.pro{
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
        gap: 10px;
        /* padding-bottom: 10px; */
        padding-top: 50px;

        
}
.projectimg1{
        height: 130px;
        width: 70%;
        margin-top: 30px;
        
}
.elearning p:nth-child(1){
        
        font-weight: bold;
       font-size: 20px;
        /* padding-bottom: 40px; */
        text-align: center;

}
.elearning p:nth-child(3){
        /* color: red;
        font-weight: bold; */
        width: 35vh;
        
        /* border: 2px solid red; */
        /* word-spacing: px; */
        font-size: 15px;
        line-height: 1.5;
        color: gray;
        font-family: sans-serif;
        
        

}
.live1{
       display: flex; 
       gap: 10px;
}
.live1 button{
        
        border-radius: 15px;
        color: blue;
        font-weight: 600;
        padding: 10px;
        border: 2px solid lightblue;


}
.elearning img{
        font-size: 25px;
}





.section5{
        display: flex;
        align-items: center;
        justify-content: center;
}






.section4{
        display: flex;
        /* border: 2px solid orangered; */
        border: 2px solid rgb(198, 194, 194);
        border-radius: 50px;
        justify-content: center;
        width: 60%;
        
        gap: 20%;
        padding: 20px;
        margin-top: 30px;
}

.mailicon{
        height: 60px;
}
.linkedinicon{
        height: 60px;
        /* padding: 20px; */
}

.mail{
        display: flex;
        /* border: 2px solid tomato; */
        gap: 10px;
        justify-content: center;
        align-items: center;
}
.mail>a{
        font-size: 25px;
        text-decoration: none;
        color: gray;
}
.mail a:hover{
        color: var(--color1);
}

footer{
        margin-top: 70px;
        height: 10vh;
        width: 100%;
        /* border: 2px solid orchid; */
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
}
.fmenu{
        display: flex;
        gap: 20px;
}
.fmenu a:hover{
        color: var(--color1);
}
.fmenu>a{
        text-decoration: none;
        font-size: 20px;
}
.copyright{
        /* border: 2px solid black; */
        font-size: 17px;
        
}